x-jodi-service: &jodi-service
  image: kofidahmed/jodi
  platform: linux/x86_64
  volumes:
    - '.:/app'
  depends_on:
    - cache
  networks: [controlnet]

services:
  control:
    image: jodi-control
    platform: linux/x86_64
    container_name: jodi-control
    command: tail -f /dev/null
    environment:
      - DOCKER_SOCKET_PATH=${DOCKER_SOCKET_PATH:-/var/run/docker.sock}
      - HOST_APP_PATH=${HOST_APP_PATH}
    volumes:
      - '.:/app'
      - './docker/data/.aws:/root/.aws'
      - './docker/data/.ssh:/root/.ssh'
    depends_on:
      - cache
      - mongo
    profiles: [control]
    networks: [controlnet, jodi_testnet]

# jodi Services
  evaluator:
    <<: *jodi-service
    container_name: evaluator
    command: > 
      gunicorn jodi.servers.evaluator:app 
      --bind 0.0.0.0:80 
      --workers 4
      --worker-class uvicorn.workers.UvicornWorker 
      --log-file=-
      --keep-alive 60
      --timeout 120
    ports:
      - 10430:80
    profiles: [jodi, ev]
    depends_on:
      - ev-keyrotation
      - cache

  ev-keyrotation:
    <<: *jodi-service
    container_name: ev-keyrotation
    command: python jodi/servers/keyrotation.py
    profiles: [jodi, ev]

  message-store:
    <<: *jodi-service
    container_name: message-store
    command: >
      gunicorn jodi.servers.message_store:app 
      --bind 0.0.0.0:80 
      --workers 4
      --worker-class uvicorn.workers.UvicornWorker 
      --log-file=-
      --keep-alive 60
      --timeout 120
    ports:
      - 10431:80
    profiles: [jodi, ms]

  jodi-proxy:
    <<: *jodi-service
    container_name: jodi-proxy
    command: >
      gunicorn jodi.servers.jodi_proxy:app 
      --bind 0.0.0.0:80 
      --workers 8
      --worker-class uvicorn.workers.UvicornWorker 
      --log-file=-
      --keep-alive 60
    profiles: [jodi_proxy]

  sti-cr:
    <<: *jodi-service
    container_name: sti-cr
    command: > 
      gunicorn jodi.prototype.stirshaken.cert_repo:app 
      --bind 0.0.0.0:80 
      --workers 2
      --worker-class uvicorn.workers.UvicornWorker 
      --log-file=-
      --keep-alive 60
      --timeout 120
    ports:
      - 10432:80
    environment:
      - NODE_PORT=10432
    profiles: [oobss, cr]

  sti-cps:
    <<: *jodi-service
    container_name: sti-cps
    command: > 
      gunicorn jodi.prototype.stirshaken.cps_server:app 
      --bind 0.0.0.0:80 
      --workers 6
      --worker-class uvicorn.workers.UvicornWorker 
      --log-file=-
      --keep-alive 60
      --timeout 120
    ports:
      - 10433:80
    environment:
      - NODE_PORT=10433
    depends_on:
      cache:
        condition: service_healthy
    profiles: [oobss, cps]

  oobss-proxy:
    <<: *jodi-service
    container_name: oobss-proxy
    command: >
      gunicorn jodi.prototype.stirshaken.oobss_proxy:app 
      --bind 0.0.0.0:80 
      --workers 8
      --worker-class uvicorn.workers.UvicornWorker 
      --log-file=-
      --keep-alive 60
    profiles: [oobss_proxy]

# Cache and Database
  cache:
    container_name: jodi-cache
    image: redis
    platform: linux/x86_64
    networks: [controlnet]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5
  
  mongo:
    container_name: jodi-mongo
    image: mongo
    platform: linux/x86_64
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: secret
    ports:
      - 27017:27017
    volumes:
      - ./docker/data/mongo:/data/db
    networks: [controlnet]
    profiles: [control]

networks:
  jodi_testnet:
    external: true
    
  controlnet:
    driver: bridge
    ipam:
      config:
        - subnet: 172.30.0.0/24
