---
- name: Install and configure Cpex
  hosts: all
  become: yes
  vars_files:
    - vars.yml
    
  tasks:
    - name: Wait for user data to complete
      tags: 
        - user_data_done
      wait_for:
        path: "{{ user_data_done_file }}"
        state: present
        delay: 5
        timeout: 300
      register: user_data_status

    - name: Debug user data status
      debug:
        var: user_data_status
      tags: 
        - user_data_done

    - name: Clone the repository
      tags:
        - clone_repo
      git:
        repo: "{{ repo_url }}"
        dest: "{{ repo_dest }}"
        version: "{{ repo_branch }}"
        force: yes

    - name: Ensure correct branch is checked out and pull latest changes
      tags:
        - checkout_branch
      git:
        repo: "{{ repo_url }}"
        dest: "{{ repo_dest }}"
        version: "{{ repo_branch }}"
        force: yes
        update: yes

    - name: Copy hosts.yml to Node
      tags:
        - copy_hosts
      copy:
        src: "../{{ hosts_file }}"
        dest: "{{ repo_dest }}/deployments/{{ hosts_file }}"

    - name: Ensure conf directory exists on Node
      tags:
        - copy_certs
      file:
        path: "{{ repo_dest }}/conf"
        state: directory

    - name: Copy conf/certs to Node
      tags:
        - copy_certs
      copy:
        src: "../../conf/certs.json"
        dest: "{{ repo_dest }}/conf/certs.json"

    - name: Copy .env to Node
      tags:
        - update_env
      copy:
        src: "../../.env"
        dest: "{{ repo_dest }}/.env"
    
    - name: Add or update NODE_IP in .env
      lineinfile:
        path: "{{ repo_dest }}/.env"
        regexp: '^NODE_IP='
        line: "NODE_IP={{ hostvars[inventory_hostname].ansible_host }}"
        create: yes
      tags:
        - update_env
        - update_node_ip


